<div class="col s12 cat-div">
  {% capture site_cats %}{% for cat in site.categories %}{{ cat | first | downcase }}#{{ cat | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  {% assign cat_hashes = site_cats | split:',' | sort %}
  <div class="cat-list">
    {% for hash in cat_hashes %}
      {% assign keyValue = hash | split: '#' %}
      {% capture cat_word %}{{ keyValue[1] | strip_newlines }}{% endcapture %}
      <a class="cat-chip" href="/categories/{{ cat_word }}"><div class="chip z-depth-1">{{ cat_word }}, {{ site.categories[cat_word].size }}</div></a>
    {% endfor %}
  </div>

  <div class="divider"></div>

  <div class="cat-index">
    {% for hash in cat_hashes %}
      {% assign keyValue = hash | split: '#' %}
      {% capture cat_word %}{{ keyValue[1] | strip_newlines }}{% endcapture %}
    <h3 id="/categories/{{ cat_word }}"> {{ cat_word }} </h3>
    <ul class="cat-post">
      {% for post in  site.categories[cat_word] %}
      <a class="post-title" href="{{site.baseurl}}{{post.url}}" target="_blank">
        <li>
          {{post.title}}
          <small class="post-date">{{post.date | date_to_string}}</small>
        </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>

