<div class="col s12 tag-div">

  <div class="divider"></div>
    
  <h3>Classic</h3>
  {% for article in site.cs229 %}
    <a class="post-title" href="{{site.baseurl}}{{article.url}}" target="_blank" style="color: #bb0000">
      <li>
        {{article.title}}
      </li>
    </a>

  {% endfor %}

  <h3>Materials</h3>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes1.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes1.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes2.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes2.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes3.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes3.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes4.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes4.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes5.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes5.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes6.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes6.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes7a.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes7a.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes7b.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes7b.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes8.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes8.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes9.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes9.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes10.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes10.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes11.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes11.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes12.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes12.pdf</a></li>
  <li><a href="{{site.baseurl}}/public/cs229/cs229-notes13.pdf" style="color: gray"><i class="material-icons">picture_as_pdf</i> cs229-notes13.pdf</a></li>

  <h3>Posts</h3>
    {% for post in  site.tags["cs229"] %}
      <a class="post-title" href="{{site.baseurl}}{{post.url}}" target="_blank">
        <li>
          {{post.title}}
          <small class="post-date">{{post.date | date_to_string}}</small>
        </li>
      </a>
      {% endfor %}
