---
---
// Overall
body
  display: flex
  min-height: 100vh
  flex-direction: column

a
  color: #bdbdbd

a:hover
  text-decoration: underline

a:active
  text-decoration: underline

main
  flex: 1 0 auto

header,
main,
footer
  padding-left: 300px

.container
  width: 90%

// Image size - KF 10/09/2018
img
  display: block
  margin-left: auto
  margin-right: auto
  max-width: 100%


// Heading 1 ~ 6 - KF 10/08/2018
h1, h2, h3, h4, h5, h6
  margin-bottom: .5rem
  font-weight: bold
  line-height: 1.25
  color: #313131
  text-rendering: optimizeLegibility

h1 
  font-size: 2rem

h2 
  margin: 2em 0 1em 0
  font-size: 1.5rem

h3 
  margin: 2em 0 1em 0
  font-size: 1.25rem

h4, h5, h6
  margin: 2em 0 1em 0
  font-size: 1rem

// Header
header
  height: 80px

  a:hover
    text-decoration: none

  .background
    background: -webkit-linear-gradient(90deg, #3AA17E 10%, #00537E 90%)
    background: linear-gradient(90deg, #3AA17E 10%, #00537E 90%)

a
  &.button-collapse
    &.top-nav
      position: absolute
      text-align: center
      height: 48px
      width: 48px
      top: 0
      float: none
      color: #fff
      font-size: 36px
      z-index: 999
      line-height: 80px

nav 
  .page-title
    font-size: 36px
    font-weight: bold
    line-height: 80px

nav
  &.top-nav
    height: 80px

// Footer
footer.page-footer
  margin-top: 10px

  .row
    margin-bottom: 0px

  p
    margin-top: 5px

// Misc
blockquote
  border-left-color: teal

main
  ul
    &:not(.browser-default)
      padding-left: 40px

      li
        list-style-type: disc

@media only screen and (max-width: 992px)
  header,
  main,
  footer
    padding-left: 0

  nav 
    .nav-wrapper
      text-align: center

@media only screen and (max-width: 600px)
  nav
    .page-title
      font-size: 20px
