---
---
a
  color: #bdbdbd

a:hover
  text-decoration: underline

a:active
  text-decoration: underline
 
main
  flex: 1 0 auto
  font-size: 1.15rem
  // Heading 1 ~ 6 - KF 10/08/2018
  h1, h2, h3, h4, h5, h6
    margin-bottom: .5rem
    font-weight: normal
    line-height: 1.25
    color: #313131
    text-rendering: optimizeLegibility
  
  h1  
    font-size: 1.75rem
  
  h2  
    margin: 2em 0 1em 0
    font-size: 1.5rem
  
  h3  
    margin: 2em 0 1em 0
    font-size: 1.25rem
  
  h4, h5, h6
    margin: 2em 0 1em 0
    font-size: 1.15rem

// Overall
body
  display: flex
  min-height: 100vh
  flex-direction: column

header,
main,
footer
  padding-left: 300px

.container
  width: 90%

// Header
header
  height: 100px

  a:hover
    text-decoration: none

  .background
    //background: -webkit-linear-gradient(90deg, #3AA17E 10%, #00537E 90%)
    //background: linear-gradient(90deg, #3AA17E 10%, #00537E 90%)
    // Added by KF 11/27/2018
    //background: #666666       // ohio-state-gray
    background: linear-gradient(-45deg, #666666 10%, #444444 90%)
    //background: #bb0000       // ohio-state-scarlet


a
  &.button-collapse
    &.top-nav
      position: absolute
      text-align: center
      height: 48px
      width: 48px
      top: 0
      float: none
      color: #fff
      font-size: 36px
      z-index: 999
      line-height: 80px

nav 
  .page-title
    font-size: 36px
    font-weight: lighter
    line-height: 80px

nav
  &.top-nav
    height: 80px

// Footer
footer.page-footer
  margin-top: 10px

  .row
    margin-bottom: 0px

  p
    margin-top: 5px

// Misc
blockquote
  //border-left-color: teal
  //border-left-color: ohio-state-scarlet 

main
  ul
    &:not(.browser-default)
      padding-left: 40px

      li
        list-style-type: disc

@media only screen and (max-width: 992px)
  header,
  main,
  footer
    padding-left: 0

  nav 
    .nav-wrapper
      text-align: center

@media only screen and (max-width: 600px)
  nav
    .page-title
      //font-size: 20px
      font-size: 1.75rem
